<h1>Hi! Please confirm your email!</h1>

<p>
    Veuillez cliquez sur ce lien pour valider votre adresse Email: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation d'Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
