<h1>Confirmation de votre adresse Email!</h1>

<p>
    Veuillez cliquez sur ce lien pour valider votre adresse Email: 
    <br>
    <br>
    <a href="{{ signedUrl|raw }}">Confirmation d'Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne visite sur notre site!!
</p>
