{% extends 'base.html.twig' %}

{% block body %}

<div class="bg1">
    <form method="post" action="search.php" class="float-right" role="search">
        <input class="search" name="search" type="search" placeholder="rechercher" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Go!</button>
    </form>
</div>
<br>


<div class="container-fluid">

    <div class="row">

        <?php foreach ($tableau as $categorie) :  ?>

            <!-- <div class="container-fluid"> -->

            <div class="col afftexton col-lg-4 col-md-4 col-sm-6 col-xs-12" >
     
                <a href="plat_categorie?id_categorie=<?= $categorie->id ?>">
             
                    <img class="zoom" src="//category/<?= $categorie->image ?>" class="rounded img-responsive;" height="250px" width="250px">
                </a>
        
                <br>
                <br>
                <div>
                    <p class="reseaux afftext"><strong><?= $categorie->libelle  ?></strong><br>
                </div>
            </div>

            <!-- </div> -->

            <!-- <br> -->
            <!-- </div> -->
        <?php endforeach; ?>

    </div>
</div>

<h2>Les plats du moments :</h2>
<br>
<div class="container-fluid">
    <div class="row">
       

            <!-- <div class="container-fluid"> -->

            <div class="col afftexton col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <a class='' href="detail_plat.php?id=<?= $categorie->id ?>">

                    <img src="//food/<?= $categorie->image ?>" class="rounded img-responsive" height="255px" width="255px" ;>
                </a>
                <br>
                <br>
                <div>
                    <p class="reseaux afftext"><strong><?= $categorie->libelle  ?></strong><br>
                </div>
            </div>
            <!-- </div> -->

            <!-- <br> -->
            <!-- </div> -->

    </div>
</div>
<br>
<br>

{% endblock %}


