{% extends 'base.html.twig' %}

{% block body %}

<div class="bg3">
    <h1 class="titre">Tous nos plats</h1>
</div>
<br>
<br>
<div class="container-fluid">

    <div class="row">

            {% for plat in plats %}

            <div class="col afftexton col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center" >
            <a href="{{path('app_detail_plat', {"libelle" : plat.libelle })}}">
                <img class="zoom" src="{{ '/food/' ~ plat.image }}" class="rounded img-responsive;" height="250px" width="250px"> 
            </a>
                <br>
                <br>
                {{plat.libelle}}

            </div>

        {% endfor %}

    </div>
</div>
</div>
<br>




</div>

{% endblock %} 